# Notes for 4.5

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#set path to data folder
path = r'C:\Users\Owner\Documents\Career Foundry\Tasks\Data Immersion Tasks\Instacart Project\2 Data'

In [4]:
#import original product data as df_prods and wrangled orders data as df_ords
df_prods = pd.read_csv(os.path.join(path, 'original data','products.csv'))
df_ords = pd.read_csv(os.path.join(path, 'prepared data','orders_wrangled.csv'))

In [52]:
##remove the extra index column from df_ords
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [25]:
#create a test dataframe
df_test = pd.DataFrame()

In [26]:
#create a mixed tyoe column
df_test['mix']=['a','b',1,True]

In [27]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

## missing values

In [7]:
#finding sum of missing values by column in df_prods
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
#create a subset of the df_prods dataframe called df_nan that only has the 16 missing product_name values
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [9]:
#check size of df_prods
df_prods.shape

(49693, 5)

In [10]:
#create a subset of the df_prods dataframe called df_prods_clean that only has NO missing product_name values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [11]:
df_prods_clean.shape

(49677, 5)

In [12]:
#creating new data frame df_dups of just the duplicate rows in df_prods_clean
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [13]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [15]:
df_prods_clean_no_dups.shape

(49672, 5)

In [14]:
#remove duplicates from df_prods_clean and create new dataframe df_prods_clean_no_dups
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [39]:
#export products data without duplicates as products_cleaned.csv
df_prods_clean_no_dups.to_csv(os.path.join(path, 'prepared data','products_cleaned.csv' ))