# Merging data sets

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#define path
path = r'C:\Users\Owner\Documents\Career Foundry\Tasks\Data Immersion Tasks\Instacart Project\2 Data'

In [15]:
#import order products prior data set as order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, 'original data', 'order_products__prior.csv' ), index_col = False)

In [24]:
# import cleaned orders data as df_ords
df_ords = pd.read_csv(os.path.join(path, 'prepared data', 'orders_cleaned.csv' ))

In [17]:
#check size of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [18]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [28]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [39]:
#merge df_ords and df_ords_prior on the column 'order_id'
df_merged = df_ords.merge(df_ords_prior, on ='order_id', how = 'inner', indicator = True)

In [40]:
#do count of indicator value in df_merged
df_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [41]:
df_merged.shape

(32434489, 10)

In [42]:
#export df_merged in pkl format as orders_products_combined.pkl
df_merged.to_pickle(os.path.join(path, 'prepared data', 'orders_products_combined.pkl'))