# 4.7 Exercises

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#define path
path = r'C:\Users\Owner\Documents\Career Foundry\Tasks\Data Immersion Tasks\Instacart Project\2 Data'

In [3]:
#import total combined orders and products data as df_ord_prod_total
df_ord_prod_total = pd.read_pickle(os.path.join(path, 'prepared data', 'orders_products_merged.pkl'))

In [4]:
df_mill = df_ord_prod_total[:1000000]

In [5]:
df_mill.shape

(1000000, 14)

In [6]:
#defining function to add price groups to data
def price_label(row):
    if row['prices'] <=5:
        return 'Low-range product'
    elif (row['prices'] >5) and (row['prices'] <=15):
        return 'Mid-range product'
    elif row['prices'] >15:
        return 'High-range product'
    else:
        return 'Not enough data'

In [7]:
#using price
df_mill['price_range']=df_mill.apply(price_label, axis = 1)

<ipython-input-7-987c4ab48933>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mill['price_range']=df_mill.apply(price_label, axis = 1)

In [8]:
#checking the counts of the new price range column for counts
df_mill['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
#check the max price value in df_mill
df_mill['prices'].max()

14.8

In [10]:
for x in range (30,45):
    print('My age is %d' % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [11]:
#printing the frequency of the “orders_day_of_the_week” column
df_ord_prod_total['orders_day_of_week'].value_counts(dropna = False)

0.0    6209808
1.0    5665951
6.0    4500391
2.0    4217868
5.0    4209603
3.0    3844175
4.0    3787263
NaN         11
Name: orders_day_of_week, dtype: int64